.button{
	width: 100%;
	cursor:pointer;
	display: table;
}
#projects {
	border: 2px solid #ccff66;
    border-radius: 6px;
    background-color: #ccff66;
    color: white;
    text-align: center;
    font-size: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height:350px;
   	margin-top: 30px;
}
#users {
	border: 2px solid #ff99ff;
    border-radius: 6px;
    background-color: #ff99ff;
    color: white;
    text-align: center;
    font-size: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height:350px;
   	margin-top: 30px;
}
#timeline {
    background-color: #66ffcc;
    border: 2px solid #66ffcc;
    border-radius: 6px;
    color: white;
    text-align: center;
    font-size: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height:350px;
   	margin-top: 30px;

}
.buttontext {
	display: table-cell;
	width: 100%;
	height: 350px;
	vertical-align: middle;
	text-align: center;
	
}
